<table class="table">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Name</th>
    <th scope="col">Email</th>
    <th scope="col">Created Groups</th>
    <th scope="col">Joined Groups</th>
    <th scope="col">Plan</th>


    <th scope="col">User Type</th>
    <% if current_user.has_role? :admin %>
      <th scope="col">Action plan</th>
    <% end %>
  </tr>
  </thead>
  <tbody>

  <% @users.each do | user | %>

    <tr>
      <td><%= user.id %></td>
      <td><%= user.username %></td>
      <td><%= user.email %></td>
      <td><%= user.groups.count %></td>
      <td><%= user.memberships.count %></td>
      <td><%= user.plan %></td>
      <% if user.has_role? :admin %>
        <td>Admin</td>
      <% else %>
        <td>Simple User</td>
      <% end %>
      <% if current_user.has_role? :admin %>
        <td><%= link_to "Change Plan", change_plan_admin_user_path(@admin, user), class: "btn btn-outline-danger" %></td>
      <% end %>
  <% end %>
  </table>